.example-spacer {
  flex: 1 1 auto;
}

.bar-color {
  background: #229954;
  color: #fbfcfc;
}

.active {
  background-color: #a9dfbf !important;
  color: #154360 !important;
}

.default-link a {
  color: #a9dfbf;
  font-size: 15px;
  margin-right: 10px;
  background-color: #229954;
}

.name-plate {
  font-size: 14px;
  color: #1c2833;
}