.mdc-card {
    margin: 2%;
}

.chart-tile {
    border: 2px dashed #2980b9;
    padding-top: 20px;
    background: #2980b9;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.date-range-error {
    color: #c0392b;
}