<form [formGroup]="form" (ngSubmit)="fnSaveChart()">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="color" required>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <div class="page-title">
          <h6>{{dialogData.dialogTitle}}</h6>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table style="width: 100%;">
        <tr>
          <th>Chart Name: </th>
          <td colspan="2">
            <mat-form-field>
              <input matInput formControlName="chartTitle" required />
            </mat-form-field>
          </td>
        </tr>
        <tr class="dialog-row">
          <th>Chart Type: </th>
          <td colspan="2">
            <mat-radio-group formControlName="chartType" aria-label="Select an option">
              <mat-radio-button value="line">Line</mat-radio-button>
              <mat-radio-button value="spline">Spline</mat-radio-button>
              <mat-radio-button value="area">Area</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr>
          <th class="dialog-row">Chart Color: </th>
          <td class="dialog-row">
            <mat-chip-row>
              <span [style.color]="colorFromPicker">{{form.controls.color.value}}</span>
            </mat-chip-row>

          </td>
          <td class="dialog-row">
            <div class="pick-color-btn" mat-stroked-button [(colorPicker)]="colorFromPicker" [cpCancelButton]=true
              [cpOKButton]="true" (colorPickerChange)="onColorPickerChange($event)" cpCancelButtonClass="color-pick-button-cancel" cpOKButtonClass="color-pick-button-ok" cpOKButtonClass="color-pick-button-ok">
              <u><b>Pick Color</b></u></div>
          </td>
        </tr>
        <tr>
          <th class="dialog-row">Is Visible: </th>
          <td class="dialog-row"><mat-slide-toggle formControlName="isVisible"></mat-slide-toggle></td>
          <td class="dialog-row" colspan="2"></td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit">Save</button>
      <!-- <button mat-stroked-button color="accent" (click)="fnCloseDialog()">Dismiss</button> -->
    </mat-card-actions>
  </mat-card>
</form>