<mat-card appearance="outlined" style="min-height: 300px;overflow-y: auto;">
    <mat-card-header>
        <div class="page-heading">
            <div style="float: left;">
                <div class="page-title">
                    <h4>Settings</h4>
                </div>
            </div>
            <div style="float: right;">
                <button (click)="fnOpenAddChartModal()" mat-flat-button>ADD CHART</button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content class="card-content">
        <table mat-table matTableResponsive matSort [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="chartTitle">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> <span class="col-title">Chart Name</span></th>
                <td mat-cell *matCellDef="let element"> {{element.chartTitle}} </td>
            </ng-container>
            <ng-container matColumnDef="chartType">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> <span class="col-title">Chart Type</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.chartType | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="color">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>
                    <div class="col-title">Color</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-set #reactiveChipGrid aria-label="Enter reactive form keywords">
                        <mat-chip-row>
                            <button matChipRemove>
                                <mat-icon [style.color]="element.color">radio_button_checked</mat-icon>
                            </button>
                            {{element.color}}
                        </mat-chip-row>
                    </mat-chip-set>
                </td>
            </ng-container>
            <ng-container matColumnDef="isVisible">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> <span class="col-title">Is Visible</span> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon style="color: #2c3e50" *ngIf="element.isVisible; else notVisible">visibility</mat-icon>
                    <ng-template #notVisible>
                        <mat-icon style="color: #808b96;">visibility_off</mat-icon>
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-align"> <span class="col-title">Action</span> </th>
                <td mat-cell *matCellDef="let element" class="text-align">
                    <button mat-button mat-stroked-button (click)="fnOpenUpdateChartModal(element.id)">Edit</button>
                    <button mat-button mat-stroked-button (click)="fnDelete(element.id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colToBeShown"></tr>
            <tr mat-row *matRowDef="let row; columns: colToBeShown;"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer *ngIf="chartConfigList.length>0; else hasRows" class="card-content">
        <mat-paginator [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
    <ng-template #hasRows>
        <mat-card-footer class="card-content">
            No records..!
        </mat-card-footer>
    </ng-template>
</mat-card>