/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.green-snackbar {
    background: green !important ;
    color: white;
}
.green-snackbar button {
    background-color:green;
    color: white !important;
    border: none;
}

.red-snackbar {
    background: red ;
    color: white;
}
.red-snackbar button {
    background-color:red;
    color: white !important;
    border: none;
}
.page-title{
    color: #229954;
}
.page-heading{
    padding: 5px; width: 100%;
}
.color-pick-button-ok{
    background-color: #229954;
    border: none; 
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px;
}

.color-pick-button-cancel{
    background-color: #b3b6b7;
    border: none; 
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px;
}